.svc {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  flex: 0 0 33%
}


#intro {
  text-align: center;
  width: 60%;
  margin: 5px auto;
}

.sbhd {
font-size: 24px;
background-color: #ced4da;
padding: 3px 5px;
border-radius: 10px;
color: #495057;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }