.svc {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  flex: 0 0 33%
}


#intro {
  text-align: center;
  width: 60%;
  margin: 5px auto;
}

.sbhd {
font-size: 24px;
background-color: #ced4da;
padding: 3px 5px;
margin: 20px 0;
border-radius: 10px;
color: #495057;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }

  h3 {
    position: absolute;
    top: 20%;
    margin-left: 6%;
    background-color: #ced4da;
    font-size: 24px;
    color: #495057;
    border-radius: 10px;
    padding: 3px 5px;
  }

#cmsn {
  position: absolute;
  top: 25%;
  margin-left: 6%;
  background-color: #ced4da;
  font-size: 14px;
  color: #495057;
  border-radius: 10px;
  padding: 3px 5px;
}