* {
  transition: all 250ms ease;
}

body {
  background-color: #f1f5fa;
}

header {
  height: 100px;
  background-color: #ced4da;
  color: #495057;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header a {
  margin: 180px;
  text-decoration: none;
  font-size: 30px;
  background-color: #dee2e6;
  border-radius: 7px;
  color: #6c757d;
  padding: 4px 10px;
  display: inline-block;
}

a:hover {
  background-color: #e6eaee;
  transform: translate(-8px, -8px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

h1 {
  background-color: #ced4da;
  height: 40px;
  text-align: center;
  font-size: 30px;
  color: #495057;
}

#webdev {
  background-color: #ced4da;
  text-align: center;
}

#about {
  margin: 25px 850px;
  text-align: center;
  font-size: 30px;
  background-color: #dee2e6;
}
