* {
  transition: all 250ms ease;
}

body {
  background-color: #f1f5fa;
}

main {
  margin-bottom: 50px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#hding {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  width: 45%;
  border-radius: 15px;
  margin: 25px auto;
}

header {
  height: 85px;
  background-color: #ced4da;
  color: #495057;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

header a {
  /* margin: 0px 160px; */
  text-decoration: none;
  font-size: 30px;
  background-color: #dee2e6;
  border-radius: 7px;
  color: #6c757d;
  padding: 4px 10px;
  display: inline-block;
  flex-wrap: wrap;
}

a:hover {
  background-color: #e6eaee;
  transform: translate(-8px, -8px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

h1 {
  height: 40px;
  text-align: center;
  font-size: 30px;
  color: #495057;
}

#webdev {
  text-align: center;
}

#about {
  margin: 25px 850px;
  text-align: center;
  font-size: 30px;
  background-color: #dee2e6;
}

#jsim {
  width: 40%;
  margin: 25px auto;
}

.divforim {
  display: flex;
  justify-content: center;
  width: auto;
}

.frspic {
  display: flex;
  flex-direction: column;
  width: auto;
}

.btnimg {
  background-color: #ced4da;
  margin: 5px auto;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  background-color: #dee2e6;
  border-radius: 7px;
  color: #6c757d;
  padding: 4px 10px;
}

.btnimg:hover {
  background-color: #e6eaee;
  transform: translate(-8px, -8px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

#flim {
  margin: 5px auto;
  width: 100%;
}

.btnimgs {
  background-color: #ced4da;
  margin: 5px 29%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  background-color: #dee2e6;
  border-radius: 7px;
  color: #6c757d;
  padding: 4px 10px;
  width: 50%;
}

.btnimgs:hover {
  background-color: #e6eaee;
  transform: translate(-8px, -8px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

#seopg {
  margin: 5px;
}

#btnimg {
  background-color: #ced4da;
  margin: 5px 7%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  background-color: #dee2e6;
  border-radius: 7px;
  color: #6c757d;
  padding: 4px 10px;
}

footer {
  background-color: #343a40;
  color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 35px;
}
